// header
$header-height: 80px;
$header-height-mobile: 60px;
$header-padding: 23px;
$header-padding-mobile: 15px;
$logo-box-header: 10px;

// buttons
$button-height: 40px;
$button-height-radius: 25px;
$button-font-size: 20px;
$button-paddings: 10px 30px;
$button-paddings-oulined: 8px 28px;
$button-color: #ffffff;
$icons-buttons-offset: 15px;
$button-link-bg: #35ace0;

// media screens
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xlarge: 1200px;
$screen-xxlarge: 1400px;

// popups
$popup-side-padding: 25px;
$popup-shadow: 0 0 10px rgb(215 89 172 / 50%);
$box-shadow: 0 0 10px rgb(11 230 247 / 50%);
$overlay-color: #0f0a0f;

// font-sizes
$large-text-size: 35px;
$normal-text-size: 18px;
$small-text-size: 15px;
$smaller-text-size: 12px;

// colors
$bg-color: #0a0a0a;
$contet-link-color: #24b6ff;

// offsets
$offset-step: 5px;