.html-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: $small-text-size;
    line-height: 1.4em;
    margin-top: 30px;
    margin-bottom: 50px;

    h2 {
        font-size: 22px;
        line-height: 1.2;
        font-family: 'Conthrax Sb', sans-serif;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 7px;
    }

    table td {
        padding: 15px;
        border-bottom: solid 1px #aaaaaa;
    }

    p {
        margin-bottom: 7px;
    }

    a {
        color: $contet-link-color;
    }

    ul {
        padding-left: 30px;
        list-style-type: disc;
    }
}